{% extends 'base.html.twig' %}
{% block title %}
	bienvenue sur le meilleur reseau 
{% endblock %}
{% block body %}
	<div class="container">
		<div class="jumbotron mt-3">
			<h1 class="display-3">Bonjour et bienvenue dans la famille TOUNSI100%</h1>
			<p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location </p>
			<hr class="my-4">
			<p>100% Tounsi 100% Gratuit.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
			</p>
		</div>
		<h2 class="h1 mt-3 mb-4">nos annonces</h2>
    
	
		<div class="row justify-content-start" >
			<div class="col-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49 DT / nuit</strong>
						<br>
						<small>pas encore noté</small>
					</div>

					<img src="http://placeholder.it/1000*400" alt="image de l'appartement" style="height:200px; width: 100%; display :block">

					<div class="card-body">
						<h4 class="card-title">
							appartement de ouf
						</h4>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis possimus iure ullam inventore expedita! Assumenda totam facilis aliquid adipisci! Minima repellat vero nobis iure reiciendis blanditiis consequuntur sunt est.
						</p>
						<a href="#" class="btn btn-dark">en savoir plus</a>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49 DT / nuit</strong>
						<br>
						<small>pas encore noté</small>
					</div>

					<img src="http://placeholder.it/1000*400" alt="image de l'appartement" style="height:200px; width: 100%; display :block">

					<div class="card-body">
						<h4 class="card-title">
							appartement de ouf
						</h4>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis possimus iure ullam inventore expedita! Assumenda totam facilis aliquid adipisci! Minima repellat vero nobis iure reiciendis blanditiis consequuntur sunt est.
						</p>
						<a href="#" class="btn btn-dark">en savoir plus</a>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49 DT / nuit</strong>
						<br>
						<small>pas encore noté</small>
					</div>

					<img src="http://placeholder.it/1000*400" alt="image de l'appartement" style="height:200px; width: 100%; display :block">

					<div class="card-body">
						<h4 class="card-title">
							appartement de ouf
						</h4>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis possimus iure ullam inventore expedita! Assumenda totam facilis aliquid adipisci! Minima repellat vero nobis iure reiciendis blanditiis consequuntur sunt est.
						</p>
						<a href="#" class="btn btn-dark">en savoir plus</a>
					</div>
				</div>
			</div>
	    </div>

		<h2 class="h1 mt-3 mb-4">nos proprietre</h2>

		<div class="row">
			<div class="col">
				<div class="class card border-secondary mb-3">
					<div class="card-body">
						<h4 class="card-title">lior chamla</h4>

						<hr>
						
						<div class="card-text">
							<img src="http://plachold.it/300*200" alt="avatar de lior chamla"
							class="img-thumbnail">
							<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
							Vero deserunt nihil repellendus repellat rem, quibusdam dolores officiis voluptates sed. Magni expedita rem, odio sit quo molestias incidunt. Molestiae, odio reiciendis.
							</p>
							<a href="#" class="btn btn-success float-right">en savoir plus </a>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="class card border-secondary mb-3">
					<div class="card-body">
						<h4 class="card-title">lior chamla</h4>

						<hr>
						
						<div class="card-text">
							<img src="http://plachold.it/100*64" alt="avatar de lior chamla"
							class="img-thumbnail">
							<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
							Vero deserunt nihil repellendus repellat rem, quibusdam dolores officiis voluptates sed. Magni expedita rem, odio sit quo molestias incidunt. Molestiae, odio reiciendis.
							</p>
							<a href="#" class="btn btn-success float-right">en savoir plus </a>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
